#patients {
    font-family: "Exo", sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  #patients td, #patients th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  #patients tr:nth-child(even){background-color: #f2f2f2;}
  
 .visit{
     cursor: pointer;
 }

 .visit:hover{
    background-color: #f2f2f2;
 }
  #patients th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }
  